body {
    background-color: black;
    margin-left: 50px;
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

h1 {
    font-size: 40px;
}
.nav-head {
    width: 100%;
    top: 0;
    left: 0;
}  
.nav-head ul{
    background-color: black;
    display: flex;
    padding: 10px;
    margin-top: -10px;
    justify-content: flex-end;
}
.nav-head li {
    list-style-type: none;
}

.nav-head a {
    flex-basis: 25%;
    margin: 20px;
    text-decoration: none;
    color: whitesmoke;
    transition: font-size 0.1s ease-in-out;
    position: relative;
}

.nav-head a::after {
    content: '';
    width: 0;
    height: 3px;
    background: rgb(57, 255, 20);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

.nav-head a:hover::after {
    width: 100%;
}

/* ---------------- About ------------- */
#about-section {
    display: flex;
    margin-top: 30px;
    animation: fadeIn 2s ease-in-out forwards;
}

#about-section img {
    width: 300px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(-50px);
    } to {
        opacity: 1;
        transform: translateX(0px);
    }
}

#about-section span {
    font-weight: bold;
    font-size: 30px;
}

.about-text {
    margin: 100px;
}

.hire-me {
    text-align: center;
    border-radius: 20px; 
    border-color: rgb(57, 255, 20);
    padding: 10px 70px;
    color: white;
    background-color: transparent;
}

.hire-me:hover {
    cursor: pointer;
    background-color: rgb(24, 66, 11)
}

/* ----------- Tab skills dll ---------- */
#about-me {
    display: flex;
}

#about-me img {
    width: 300px;
}

.about-me-content {
    margin-left: 30px;
}

.about-me-p{
    margin-top: -10px;
    display: block;
    font-size: 10px;
    color: rgb(160, 154, 154);
}

.skill {
    cursor: pointer;
    font-weight: 200;
    margin-right: 10px;
    position: relative;
}

.skill::after {
    content: '';
    width: 0;
    height: 3px;
    background: rgb(57, 255, 20);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

.skill:hover::after {
    width: 100%;
}

/* ------------- Content tab ----------- */
#list-skills {
    margin-left: -50px;
}

#list-skills li {
    font-size: 14px;
    color: black;
    margin: 8px;
    border-radius: 20px;
    padding: 5px 10px;
    display: inline-block;
    background-color: rgb(57, 255, 20);
}

.education {
    font-size: 10px;
}

.experience {
    font-size: 10px;
}

.education span {
    display: inline;
    float: right;
}
/* ------------ Resume ------------ */
#resume {
    margin-left: 50px;
}

.resume-work {
    display: flex;
}


.layer {
    background: linear-gradient(rgba(27, 26, 26, 0.242), whitesmoke);
    position: absolute;
    color: antiquewhite;
    text-align: center;
    opacity: 0;
    top: 0;
    width: 200px;
    height: 100%;
    left: 0;
    transition: opacity 0.5s ease-in-out;
}

.work {
    position: relative;
    flex-basis: 33%;
    margin-right: 10px;
}

.work:hover .layer {
    opacity: 1;
}

.resume-work img {
    width: 200px;
}

.experience {
    margin-top: 10px;
    color: white;
}

.experience span {
    float: right;
}

/* --------- Contact ----------- */
#contact {
    margin-left: 10px;
    margin-top: 60px;
    display: flex;
}

.left-contact {
    margin-right: 100px;
}

.left-contact h1 {
    margin-top: -10px;
    margin-bottom: 50px;
}

.all-icon {
    margin-top: -30px;
    margin-bottom: 30px;
}

.fa-brands {
    font-size: 30px;
    color: white;
    margin-right: 10px;
    transition: font-size 0.2s ease-in-out;
}

.fa-brands:hover {
    font-size: 34px;
}

.email {
    margin-bottom: 30px;
}
.left-contact button{
    display: block;
    border-color: rgb(57, 255, 20);
    padding: 8px 30px;
    color: white;
    background-color: transparent;
    border-radius: 10px;
    margin-top: 10px;
}

.left-contact button:hover {
    cursor: pointer;
    background-color: rgb(24, 66, 11);
}

/* ----------- form ----------- */
.right-contact {
    position: relative;
    margin-top: -15px;
}

.right-contact input {
    color: white;
    background-color: transparent;
    border-color: rgb(57, 255, 20);
    padding: 10px;
    width: 600px;
    border-radius: 10px;
}

#message {
    text-align: top;
    padding: 80px 10px;
}

.submit-email {
    border-color: rgb(57, 255, 20);
    color: white;
    background-color: transparent;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 750%);
    padding: 4px 10px;
    width: 100px;
}

.submit-email:hover {
    background-color: rgb(24, 66, 11);
}
